@import "../../sass/variables";
@import "../../sass/utilities";

.video-card {
	width: 100%;

	.video-thumbnail {
		width: 100%;
		height: 9.6rem;
		border-radius: $space-1;
		box-shadow: 2px 8px 18px hsl(100, 0, 86);
		transition: all 0.25s ease;

		&:hover {
			box-shadow: 2px 8px 24px hsl(100, 0, 72);
		}
	}

	.video-info {
		width: 96%;
		margin: $space-3 auto;
		@include flex(row, flex-end, space-between);

		a {
			display: block;
		}

		.main-info {
			.video-title {
				@include plb;
				color: $text-black;
			}

			.video-channel {
				@include px;
				color: $text-black;
				margin-top: 1rem;
			}

			.views-likes {
				@include flex;
				margin-top: 0.56rem;

				.las {
					@include ph;
					color: $text-black;
				}

				.views {
					@include flex;

					.views-count {
						@include px;
						margin-left: 0.24rem;
						color: $gray-text;
					}
				}

				.likes {
					margin-left: $space-2;
					.video-age {
						@include px;
						color: $gray-text;
					}
				}
			}
		}
	}
}
