//Simple Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Root font size
:root {
  font-size: calc(14px + 0.72vw);

  @media screen and (min-width: 600px) {
    font-size: calc(14px + 0.18vw);
  }
}

//Remove underline from links
[href] {
  text-decoration: none;
}

//Remove bullet from li
li {
  list-style-type: none;
}

//Reset links
a {
  text-decoration: none;
}

//Root font family
body {
  font-family: Mulish, Arial, Helvetica, sans-serif;
}

//Fonts
@font-face {
  font-family: Mulish;
  src: url(../assets/fonts/mulish/Mulish-Regular.ttf);
}

@font-face {
  font-family: MulishMedium;
  src: url(../assets/fonts/mulish/Mulish-SemiBold.ttf);
}

@font-face {
  font-family: MulishBold;
  src: url(../assets/fonts/mulish/Mulish-Bold.ttf);
}

//Iconfont
.las {
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  //Support for all webkit browsers
  -webkit-font-smoothing: antialiased;
  //Support for Safari and Chrome
  text-rendering: optimizeLegibility;
  //Support for Firefox
  -moz-osx-font-smoothing: grayscale;
  //Support for IE
  font-feature-settings: "liga";
}
