@import "../../sass/variables";
@import "../../sass/utilities";

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(100, 0, 100);
  height: $space-10;
  width: 100vw;
  z-index: 1;
  padding: 0 $space-1 0 $space-3;
  @include flex(row, center, space-between);

  @include tab-screen {
    padding: 0 $space-3 0 $space-2;
  }

  .brand-ham {
    @include flex(row, center);
    margin: auto 0;

    .hamburger-button {
      @include d-none;
      margin-right: $space-1;
      &:hover {
        box-shadow: none;
      }

      @include tab-screen {
        display: inline-block;
      }
    }

    .brand-image {
      width: $space-14;
    }
  }

  .nav-form {
    @include d-none;

    @include tab-screen {
      @include flex(row, center);
      width: 28%;
    }
  }

  .user-actions {
    .action-items {
      @include flex(row, center, space-between);

      .action-item {
        margin-right: $space-1;
        @include d-none;

        @include tab-screen {
          display: inline-block;
        }
      }

      .action-item:last-child {
        display: inline-block;
        margin-right: 0;

        .hamburger-button:hover {
          box-shadow: none;
        }

        @include tab-screen {
          display: none;
        }
      }
    }

    .user-image {
      width: $space-4;
      border-radius: 50%;
      margin-left: $space-2;
    }
  }
}
