@import "../../sass/variables";
@import "../../sass/utilities";

.subscriptions {
	width: 100%;
	padding: $space-3 0 $space-3 $space-3;

	.section-title {
		@include phb;
		margin-bottom: $space-6;
		margin-left: $space-1;
		color: $text-black;
	}

	@include tab-screen {
		padding: $space-6;
	}

	.subscription-items {
		.subscription-item {
			margin-bottom: $space-8;
		}
	}
}
