@import "../sass/variables";
@import "../sass/utilities";

.app {
	width: max-content;
	height: max-content;
	background: hsl(220, 13%, 99%);
	overflow-x: hidden;
	margin: 0;

	@include tab-screen {
		.main-contained {
			margin-left: 14rem;
		}
	}
}
