@import "../../sass/variables";
@import "../../sass/utilities";

.subscription-slider {
  width: 100%;

  .slider-title {
    @include phb;
    margin-left: $space-1;
  }

  .slider-container {
    margin-top: $space-2;
    width: 100%;
    overflow-x: scroll;
    @include scroll-hide;

    .slider-list {
      width: max-content;
      @include flex(row, center);

      .slider-item {
        width: 224px;
        margin: $space-2 $space-7 $space-2 0;
        //background-color: hsl(100, 0, 100);

        .slider-image {
          width: 100%;
          height: 8rem;
          border-radius: $space-1;
          box-shadow: 2px 8px 18px hsl(100, 0, 80);
          transition: all 0.25s ease;

          &:hover {
            box-shadow: 2px 8px 24px hsl(100, 0, 64);
          }
        }

        .slider-info {
          width: 96%;
          margin: $space-3 auto;
          @include flex(row, flex-start, space-between);

          .views {
            @include pxb;
            color: hsl(100, 0, 40);
          }

          .main-info {
            .video-title {
              @include psb;
            }
            .video-channel {
              @include pxb;
              color: hsl(100, 0, 40);
              margin-top: $space-2;
            }
          }
        }
      }
    }
  }
}
