@import "../../sass/variables";
@import "../../sass/utilities";

.sidebar-closed {
	width: 0;
	height: 0;
	transition: all 0.25s ease;

	* {
		display: none;
	}
}

.sidebar-open {
	height: 100%;
	width: 14rem;
	position: fixed;
	left: 0;
	top: $space-10;
	background: hsl(220, 13%, 100%);
	@include flex(column, stretch);
	overflow-y: scroll;
	scrollbar-width: 6px;
	@include scroll-hide;
	transition: all 0.25s ease;
	padding-top: $space-2;

	.hide-sidebar {
		width: max-content;
		align-self: flex-end;
		margin-right: $space-1;
		margin-bottom: -4.4rem;
	}

	hr {
		opacity: 0.3;
		width: 72%;
		margin: $space-4 auto;
	}

	.view-links {
		width: 80%;
		margin: 0 auto 0 $space-2;
		padding: 0 $space-2 0 $space-3;

		.link-item {
			margin-bottom: $space-2;

			.view-link {
				@include flex(row, center);

				.link-icon {
					margin-right: $space-2;
					color: hsl(100, 0, 10);
				}

				.link-text {
					@include psb;
					color: $gray-text;
				}
			}
			.active-view-link {
				.link-icon,
				.link-text {
					color: $primary-color;
				}
			}
		}
	}

	.app-links {
		margin-top: $space-6;
	}
}
