@import "../../sass/variables";
@import "../../sass/utilities";

.home {
	width: 100%;
	padding: $space-3;

	.subscriptions-slider {
		margin-bottom: $space-8;
	}

	@include tab-screen {
		padding: $space-6;
	}
}
