@import "../../sass/variables";
@import "../../sass/utilities";

.video-slider {
	width: 100%;

	.slider-header {
		width: 98%;
		margin: 0 auto $space-1;
		@include flex($justify: space-between);

		.slider-title {
			@include flex;

			.title {
				@include phb;
				color: $text-black;
			}
		}

		.slider-extra {
			@include flex;

			.slider-controls {
				display: none;

				@include tab-screen {
					display: block;
					margin-left: $space-4;

					.slider-right,
					.slider-left {
						background: none;
						margin: 0 $space-1;
					}
				}
			}
		}
	}

	.slider-container {
		margin-top: $space-2;
		width: 100%;
		overflow-x: scroll;
		@include scroll-hide;

		.slider-list {
			width: max-content;
			@include flex(row, center);

			.slider-item {
				width: 232px;
				margin: $space-2 $space-7 $space-2 0;
			}
		}
	}
}
